#Title {
    text-align: center;
}

#headerDivide {
    border-bottom: 5px solid #8c8a88;
  }

body {
    background-color: #4a4948;
  }



#button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
  }

  #button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  