
#funnyheading2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 72px;
    line-height: 400px;
    background-size: contain;
    color: white;
    background-repeat: no-repeat
  }
  